 <!-- Masthead-->
<header class="masthead">
  <div class="container-fluid px-0">
    <div class="masthead-subheading">Welcome To Our Recipe Corner!</div>
        <div class="masthead-heading text-uppercase">Let's make our kitchen magnificent</div>
        <% if current_user.nil? %>    
          <%= link_to "Sign up now", new_user_registration_path, class: "btn btn-primary btn-xl text-uppercase"  %>
        <% else %>
          <%= link_to "Add food", new_food_path, class: "btn btn-primary btn-xl"  %>
          <%= link_to "Add recipe", new_recipe_path, class: "btn btn-primary btn-xl"  %>
        <% end %>
        </div>
    </div>
  </div>
</header>