 <!-- Masthead-->
        <header class="masthead">
            <div class="container">
                <div class="masthead-subheading">Welcome To Our Recipe Corner!</div>
                <div class="masthead-heading text-uppercase">Let's make our kitchen magnificent</div>
                <a class="btn btn-primary btn-xl text-uppercase" href="#services">Sign up now</a>
            </div>
        </header>