<div class="container pt-3 pb-3">
  <div class="card">
    <div class="card-body">
      <div class="container">
        <div class="row bg-light">
          <div class="col-6">
            <div class="card">
              <div class="card-header">
                Jolof Rice
              </div>
              <div class="card-body">
                <blockquote class="blockquote mb-0">
                  <footer class="blockquote-footer">By Chef Edward</footer>
                </blockquote>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="card">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Total food item: 6</li>
                <li class="list-group-item">Total price: $140</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
