<nav id="mainNav" class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark">
  <div class="container"><a class="navbar-brand" href="#page-top">F&E Recipe App</a><button class="navbar-toggler navbar-toggler-right" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
    <div id="navbarResponsive" class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto text-uppercase">
        <li class="nav-item"><a class="nav-link" href="#services">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="#portfolio">Recipes</a></li>
      </ul>
      <button class="btn btn-primary ml-3" type="button">Login</button>
    </div>
  </div>
</nav>
