<nav id="mainNav" class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark">
  <div class="container"><a class="navbar-brand" href="#page-top">F&E Recipe App</a><button class="navbar-toggler navbar-toggler-right" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
    <div id="navbarResponsive" class="collapse navbar-collapse" style="padding-right: 615px;margin-right: -353px;padding-left: 348px;">
    <ul class="navbar-nav ms-auto text-uppercase">
        <li class="nav-item"><a class="nav-link" href="#services">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="#portfolio">Recipes</a></li>
        <li class="nav-item"></li>
        <li class="nav-item"></li>
        <li class="nav-item"></li>
    </ul>
    <button class="btn btn-primary" type="button" style="margin-right: 48px;padding-right: 25px;padding-left: 25px;margin-left: 414px;">Login</button>
</div>
  </div>
</nav>
